<launch>
    <param name="/use_sim_time" value="true" />
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find socspioneer)/config/demo.rviz"/>
    <node name="stage" pkg="stage_ros" type="stageros" args="--clock $(find mapping)/out/world.world"/>

<!--     <arg name="map_file" value="$(find mapping)/out/world.yaml"> -->
<!--     </arg>  -->
<!--     <node pkg="map_server" type="map_server" name="map_server" args="$(arg map_file)">  -->
<!--     </node>  -->

    <!-- dynamic map generation -->
    <node name="gmapping_node" pkg="gmapping" type="slam_gmapping" respawn="false">
        <remap to="base_scan" from="scan" />
        <param name="xmin" value="-25.0"/>
        <param name="ymin" value="-25.0"/>
        <param name="xmax" value="25.0"/>
        <param name="ymax" value="25.0"/>
        <!-- How long in seconds between map updates -->
        <param name="map_update_interval" value="0.25" />  
        <param name="step" value = "0.1"/>
    </node>

    <node name="svod" pkg="vod" output="screen" type="main.py" />
    <node name="ops" pkg="ops" output="screen" type="ops.py" />
    <node name="svodall" pkg="vod" output="screen" type="allObjectsViewer.py" launch-prefix="bash -c 'sleep 1; $0 $@' "/>
    <node name="svodknown" pkg="vod" output="screen" type="knownObjectsViewer.py" />

    <node name="wall_hugger_nav" pkg="wall_hugger" type="navigation2.py" output="screen"/>
    <node name="wall_hugger_laser" pkg="wall_hugger" type="laserReader.py" />
    <node name="pathfinder" pkg="pathfinding" output="screen" type="pathfinder.py" />
</launch>
