<launch>
    <param name="/use_sim_time" value="true" />
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find socspioneer)/config/demo.rviz"/>
    <node name="stage" pkg="stage_ros" type="stageros" args="--clock $(find mapping)/out/world.world"/>

    <arg name="map_file" value="$(find mapping)/out/world.yaml">
    </arg> 
    <node pkg="map_server" type="map_server" name="map_server" args="$(arg map_file)"> 
    </node> 

    <!-- dynamic map generation -->
    <node name="gmapping_node" pkg="gmapping" type="slam_gmapping" respawn="false">
        <remap to="base_scan" from="scan" />
        <!-- How long in seconds between map updates -->
        <param name="map_update_interval" value="1" />
    </node>



    <node name="svod" pkg="vod" type="main.py" />
<!--     <node name="svodall" pkg="vod" type="allObjectsViewer.py" /> -->
    <node name="svodknown" pkg="vod" type="knownObjectsViewer.py" />
<!--     <node name="ops" pkg="ops" type="ops.py" /> -->

<!--     <node name="wall_hugger_nav" pkg="wall_hugger" type="navigation2.py" /> -->
<!--     <node name="wall_hugger_laser" pkg="wall_hugger" type="laserReader.py" /> -->
</launch>
